[Desktop Entry]
Version=1.0
Name=Securonis Anonymous Mode
Comment=Start, Stop, or Check Status of Anonymous Mode
Exec=mate-terminal -- bash -c "/usr/local/bin/anonmode; exec bash"
Icon=/usr/share/icons/securonis/icon1.png
Terminal=true
Type=Application
Categories=Securonis;Securonis;
