[Desktop Entry]
Version=1.0
Name=Securonis Info
Comment=Commands scripts tools for Securonis Linux
Exec=mate-terminal -- bash -c "/usr/local/bin/commands; exec bash"
Icon=/usr/share/icons/securonis/icon9.png
Terminal=true
Type=Application
Categories=Securonis;Securonis;
